<div class="Container">
  <h2>My wishlists:</h2>

  <div *ngIf="todoError?.message">
    <div class="alert alert-danger" role="alert">
      Some error occurred. Please try again
    </div>
  </div>

  <ng-container *ngFor="let todo of ToDoList">
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-2 todoItem">{{ todo.title }}</div>
      <div class="col-md-2">isCompleted:</div>
      <div class="col-md-2 todoItem">{{ todo.isCompleted }}</div>
    </div>
  </ng-container>
</div>

<hr />

<div class="container form-group" style="margin: 10px;">
  <h3>Create New Wishlist</h3>
  <form (ngSubmit)="createToDo()">
    <div class="row">
      <div class="form-group col-md-4">
        <input
          [(ngModel)]="title"
          placeholder="Enter your Wish"
          class="form-control"
          name="title"
          style="min-width: 150px;"
        />
      </div>

      <div
        class="col-md-2 form-check"
        style="margin-top: 10px; margin-left: 30px;"
      >
        <input
          type="checkbox"
          class="form-check-input"
          id="isCompleted"
          name="isCompleted"
          [(ngModel)]="isCompleted"
        />

        <label for="isCompleted" class="form-check-label">Completed?</label>
      </div>

      <mat-checkbox>Check me!</mat-checkbox>

      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="Width:70px;">
          Add
        </button>
      </div>
    </div>
  </form>
</div>

<hr />

<div>
  <h1>material components</h1>
  <h2>menu</h2>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <h2>buttons</h2>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="left" aria-label="Text align left">
      <mat-icon>format_align_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="center" aria-label="Text align center">
      <mat-icon>format_align_center</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="right" aria-label="Text align right">
      <mat-icon>format_align_right</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="justify" disabled aria-label="Text align justify">
      <mat-icon>format_align_justify</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="example-selected-value">Selected value: {{ group.value }}</div>
</div>

<h2>button simple</h2>
<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    disabled
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
  <button mat-mini-fab>Basic</button>
  <button mat-mini-fab color="primary">Primary</button>
  <button mat-mini-fab color="accent">Accent</button>
  <button mat-mini-fab color="warn">Warn</button>
  <button mat-mini-fab disabled>Disabled</button>
  <button mat-mini-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-mini-fab routerLink=".">Link</a>
</div>

<h2>Icon</h2>
<i class="material-icons md-18">face</i>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<h1>Bootstrap</h1>

<div class="container">
  <div class="row align-items-center">
    <div class="col mt-5">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
</div>
