<div class="Container">
  <h2>My wishlists:</h2>

  <div *ngIf="todoError?.message">
    <div class="alert alert-danger" role="alert">
      Some error occurred. Please try again
    </div>
  </div>

  <ng-container *ngFor="let todo of ToDoList">
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-2 todoItem">{{ todo.title }}</div>
      <div class="col-md-2">isCompleted:</div>
      <div class="col-md-2 todoItem">{{ todo.isCompleted }}</div>
    </div>
  </ng-container>
</div>

<hr />

<div class="container form-group" style="margin: 10px;">
  <h3>Create New Wishlist</h3>
  <form (ngSubmit)="createToDo()">
    <div class="row">
      <div class="form-group col-md-4">
        <input [(ngModel)]="title" placeholder="Enter your Wish" class="form-control" name="title" style="min-width: 150px;" />
      </div>

      <div class="col-md-2 form-check" style="margin-top: 10px; margin-left: 30px;">
        <input type="checkbox" class="form-check-input" id="isCompleted" name="isCompleted" [(ngModel)]="isCompleted" />

        <label for="isCompleted" class="form-check-label">Completed?</label>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="Width:70px;">
          Add
        </button>
      </div>
    </div>
  </form>
</div>
